azure-ai-documentintelligence
azure-core
azure-cosmos
azure-identity
azure-search-documents==11.4.0
azure-storage-blob
fastapi
langchain
langchain-experimental
langchain-openai
langgraph
msal
PyJWT
python-dotenv
python-jose[cryptography]==3.5.0
python-multipart
uvicorn
pytz
python-docx
PyPDF2
azure-ai-formrecognizer==3.3.2